* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: darkslategray;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aqua;
	width: auto;
}
.left {
	margin-left: 40px;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 1.5px;
}

.center .input {
	width: 400px;
	border-radius: 10px;
	padding: 10px;
}
.input:focus {
	border: 3px solid crimson;
}

.center button {
	border-radius: 10px;
	padding: 6px;
	cursor: pointer;
}
button:hover {
	background-color: green;
	color: white;
}
.right {
	margin-right: 40px;
	font-size: 30px;
}

@media screen and (max-width: 770px) {
	.center .input {
		width: 200px;
		transition: all 500ms ease;
	}
}
@media screen and (max-width: 500px) {
	.left {
		margin-left: 5px;
	}

	.right {
		margin-right: 5px;
	}

	.center .input {
		width: 100px;
		transition: all 500ms ease;
	}
}

@media screen and (max-width: 340px) {
	.center .input {
		width: 70px;
		transition: all 500ms ease;
	}
}
